@model ProyectoGeneral_01.Models.Slider

@{
    ViewData["Title"] = "Crear un nuevo Slider";
}

<br />
<br />
<h3 class="text-center">Crear un nuevo Slider</h3>
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="row px-1 offset-1 border">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label class="col-12">
                        <label asp-for="Nombre"></label>
                    </label>
                </div>
                <div class="col-8">
                    <input asp-for="Nombre" class="form-control" placeholder="Ingrese el nombre del Slider" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>

            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label class="col-4">
                        <label asp-for="State"></label>
                    </label>
                </div>
                <div class="col-8">
                    <input type="checkbox" asp-for="State" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>

            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label class="col-4">
                        <label asp-for="UrlImagen"></label>
                    </label>
                </div>
                <div class="col-8">
                    <input type="file" name="archivos" id="subirArchivos" class="form-control" />
                    <span asp-validation-for="UrlImagen" class="text-danger"></span>
                </div>
            </div>


            <br />
            <div class="form-group row">
                <div class="col-8">
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>

        </div>
    </div>

</form>

@section Scripts {
@*  @{
            <partial name="_VistaCrearVolver" />
        } *@
}