@model ProyectoGeneral_01.Models.ViewModel.HomeViewModel

<!--Slider-->

<div id="sliderImagenes" class="carousel slide">
    <div class="carousel-inner">
        @{
            var activeSliders = Model.listSliders.Where(Slider => Slider.State == true).ToList();
            int cont = 0;
        }

        @foreach (var slider in activeSliders)
        {
            @* string itenDinamico;
            if(cont == 0)
            {
                itenDinamico = "active";
            }
            else
            {
                itenDinamico = "";
            }
            cont++; *@

            var itenDinamico = cont++ == 0 ? "active" : "";
            <div class="carousel-item @itenDinamico">
                <img src="@Url.Content(slider.UrlImagen)" class="d-block w-100" />
                <h1 class="text-center bg-dark py-1" style="color:black">@Html.Raw(slider.Nombre)</h1>
            </div>
        }
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#sliderImagenes" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#sliderImagenes" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>