@model ProyectoGeneral_01.Models.ViewModel.ArticuloCategoriaViewModel

@{
    ViewData["Title"] = "Crear Articulo";
}

<br />
<br />
<h3 class="text-center">Crear nuevo Articulo</h3>
<form method="post" asp-action="Create" enctype="multipart/form-data">

    <div class="row px-1 offset-1 border">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label class="col-12">
                        <label asp-for="Articulo.Nombre"></label>
                    </label>
                </div>
                <div class="col-8">
                    <input asp-for="Articulo.Nombre" class="form-control" placeholder="Ingresa un nombre para el Articulo" />
                    <span asp-validation-for="Articulo.Nombre" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-4">
                    <label class="col-4">
                        <label asp-for="Articulo.Descripcion"></label>
                    </label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Articulo.Descripcion" class="form-control" style="height:300px"></textarea>
                    <span asp-validation-for="Articulo.Descripcion" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row mt-2">
                <div class="col-4">
                    <label class="col-4">
                        <label asp-for="Articulo.CategoriaId">Categoria</label>
                    </label>
                </div>
                <div class="col-8 mt-2">
                    @Html.DropDownListFor(m => m.Articulo.CategoriaId, Model.ListaCategorias, "--Porfavor seleccione una categoria--",
                             new { @classs = "form-control" })
                    <span asp-validation-for="Articulo.CategoriaId" class="text-danger"></span>
                    <input type="hidden" asp-for="Articulo.Categoria" />
                </div>
            </div

            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label class="col-4">
                        <label asp-for="Articulo.UrlImagen"></label>
                    </label>
                </div>
                <div class="col-8">
                    <input type="file" name="archivos" id="subidaArchivos" class="form-control" />
                </div>
            </div>


            <br />
            <div class="form-group row">
                <div class="col-8">
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>

        </div>
    </div>

</form>

@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.1.0/tinymce.min.js"; integrity="sha512-Va3PZJRSZ8TlnqUfjkA5YPR57+oIscCVoNGjYK1JYsOTw8VU7517hHqs90/h/YuUm8KZl9iD+Dt8K6T8uAJCqw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format'
        });
    </script>
}
