@model ProyectoGeneral_01.Models.ViewModel.ArticuloCategoriaViewModel

@{
    ViewData["Title"] = "Editar Articulo";
}

<br />
<br />
<h3 class="text-center">Editar Articulo</h3>
<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="Articulo.Id" />
    <div class="row px-1 offset-1 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-8 mt-4">
            <div class="form-group row">
                <div class="col-6">
                    <label class="col-12">
                        <label asp-for="Articulo.Nombre"></label>
                    </label>
                </div>
                <div class="col-6">
                    <input asp-for="Articulo.Nombre" class="form-control" placeholder="Ingrese el nombre del Articulo" />
                    <span asp-validation-for="Articulo.Nombre" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-6">
                    <label class="col-4">
                        <label asp-for="Articulo.Descripcion"></label>
                    </label>
                </div>
                <div class="col-6">
                    <textarea asp-for="Articulo.Descripcion" class="form-control" style="height:300px"></textarea>
                    <span asp-validation-for="Articulo.Descripcion" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row mt-2">
                <div class="col-6">
                    <label class="col-4">
                        <label asp-for="Articulo.CategoriaId">Categoria</label>
                    </label>
                </div>
                <div class="col-6 mt-2">
                    @Html.DropDownListFor(m => m.Articulo.CategoriaId, Model.ListaCategorias, "--Porfavor seleccione una Categoria--",
                             new { @classs = "form-control" })
                </div>
            </div>


            <div class="form-group row">
                <div class="col-6">
                    <label class="col-4">
                        <label asp-for="Articulo.UrlImagen"></label>
                    </label>
                </div>
                <div class="col-6">
                    <input type="file" name="archivos" id="subidaArchivos" class="form-control" />
                </div>
            </div>

            <br />
            <div class="form-group row">
                <div class="col">
                    <button type="submit" class="btn btn-primary form-control" asp-route-id="@Model.Articulo.Id">Actualizar</button>
                </div>
                <div class=col>
                    <a asp-action="Index" class="btn btn-success form-control">Regresar</a>
                </div>
            </div>

        </div>
        <div class="col-4 pt-3">
            <img src="@Model.Articulo.UrlImagen" width="100%" style="border-radius:5px; border: 1px solid #bbb9b9 " />
        </div>
    </div>

</form>

@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.1.0/tinymce.min.js" ; integrity="sha512-Va3PZJRSZ8TlnqUfjkA5YPR57+oIscCVoNGjYK1JYsOTw8VU7517hHqs90/h/YuUm8KZl9iD+Dt8K6T8uAJCqw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format'
        });
    </script>
}